@font-face {
  font-family: "National Park";
  src: url("/assets/fonts/NP-VariableVF.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/NP-VariableVF.woff2") format("woff2-variations");
}

body {
  --font-size: 0.8rem;
  width: 100vw;
  height: 100vh;

  font-size: var(--font-size);

  font-family: "National Park";
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

canvas {
  display: block;
}

#site {
  position: relative;
  flex: 1;
  display: flex;
  user-select: none;
  z-index: 1;
  overflow: hidden;
}

/**********************************

TASKBAR

**********************************/

#taskbar {
  display: flex;
  background-color: var(--base1);
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  user-select: none;
}

#chart-size-controls {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.site-title {
  font-weight: 600;
  margin-left: 0.3em;
  cursor: default;
}

.taskbar-buttons > button {
  color: var(--text-inactive);
  cursor: pointer;
}

.taskbar-buttons button.open {
  color: hsl(var(--accH), var(--accS), 80%);
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
}

/**********************************

SIM PANE

**********************************/

#sim-pane {
  display: flex;
  flex-direction: column;
}

#sim-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.top {
  z-index: 5;
}

.mid {
  z-index: 2;
}

.bottom {
  z-index: 0;
  filter: brightness(0.7);
}

.mirrored > canvas {
  transform: scaleX(-1);
}

.sim-transform-group.right-side {
  display: flex;
  flex-direction: column;
}

.sim-transform-group.wrong-side {
  display: flex;
  flex-direction: column-reverse;
}

#back,
#mid,
#front {
  position: absolute;
  top: 0;
  left: 0;
}

/**********************************

EDIT PANE

**********************************/

#chart-pane {
  display: flex;
  flex-direction: column;
}

#chart-layout {
  position: relative;
  flex: 1;
  display: flex;
  background-color: var(--base2);
  overflow: hidden;
}

#desktop {
  position: relative;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
  flex: 1;
  align-items: flex-start;
}

#chart-canvas {
  border: 1px solid black;
}

.overlay {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.repeat-ui {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid white;
  outline-offset: -1px;
  border: 1px solid black;
}

/**********************************

YARN SEQUENCE

**********************************/

#yarn-sequence {
  position: absolute;
  right: calc(100% + 10px);
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#yarn-sequence > button {
  width: 100%;
  position: absolute;
  bottom: 100%;
  border-radius: 8px 8px 0 0;
  color: var(--text-inactive);
  overflow: hidden;
  padding: 0;
}

#yarn-sequence > canvas {
  outline: 1px solid black;
}

/**********************************

LEFT BAR

**********************************/

#left-bar {
  z-index: 3;
  background-color: var(--base1);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 0.6em;
  overflow-y: auto;
}

/**********************************

SYMBOL PICKER

**********************************/

#symbol-picker {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

#symbol-picker > .btn.img {
  align-self: stretch;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}

#symbol-picker > .btn.img div {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  line-height: 0;
  flex: 1;
}

.btn.img.current {
  outline: 1px solid white;
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
  color: var(--text-highlight);
}

.symbol-preview {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #fff;
  image-rendering: pixelated;
}

/**********************************

YARN PICKER

**********************************/

#yarn-picker {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.btn.color-select {
  align-self: auto;
  flex: 0 0 50px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  justify-content: space-between;
}

.color-preview {
  aspect-ratio: 1;
  height: 100%;
  position: relative;
  background: var(--current);
}

.color-label {
  font-size: larger;
  font-weight: 900;
  flex: 1;
  line-height: 0;
}

#yarn-picker .btn.selected {
  outline: 1px solid white;
  color: var(--text-highlight);
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
}

.edit-color {
  color: var(--text-highlight);
  position: absolute;
  width: 100%;
  height: 100%;
}

.edit-color > i {
  position: absolute;
  line-height: 1;
  top: 5px;
  left: 5px;
  text-shadow: 0px 0px 2px black;
}

.delete-color-button {
  position: absolute;
  display: flex;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #343434;
  font-size: x-large;
  line-height: 1;

  bottom: 2px;
  right: 2px;

  cursor: pointer;
}

.delete-color-button:hover {
  color: red;
  text-shadow: 0px 0px 3px black;
}

/**********************************

PAN-ZOOM CONTROLS

**********************************/

.panzoom-controls {
  position: absolute;
  align-items: center;
  display: flex;
  gap: 0.3em;
  right: 10px;
  bottom: 10px;
  background-color: var(--base1);
  border-radius: 10px;
  padding: 0.4em;
  box-shadow: 0 0 4px 0 black;
}

.panzoom-controls button {
  align-self: unset;
  cursor: pointer;
}

.panzoom-controls input[type="range"] {
  width: 5em;
}

.panzoom-controls .btn.current {
  background-color: var(--accent);
  color: var(--base2);
}

/**********************************

MODALS

**********************************/

#library-modal {
  max-width: 700px;
}

.library-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-modal {
  max-width: 700px;
}

.punchcard-preview {
  height: 15rem;
  position: relative;
}

#punchcard {
  height: 100%;
  background-color: #fff;
}

/**********************************

SPLIT JS STYLES

**********************************/
.gutter {
  background-color: var(--base1);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/**********************************

UTILITIES

**********************************/

.grabbing {
  cursor: grabbing !important;
}

.grabber {
  cursor: grab;
  pointer-events: all;
}

.grabbing .grabber {
  cursor: grabbing;
}

.grid {
  --cell-width: 10px;
  --cell-height: 10px;
  --offset-x: 0px;
  --offset-y: 0px;
  --line-width: 1px;
  --line-offset: calc(var(--line-width) / -2);

  --vertical: repeating-linear-gradient(
    to right,
    black 0 var(--line-width),
    transparent var(--line-width) var(--cell-width)
  );

  --horizontal: repeating-linear-gradient(
    to bottom,
    black 0 var(--line-width),
    transparent var(--line-width) var(--cell-height)
  );

  background-position: calc(var(--line-offset) + var(--offset-x))
    calc(var(--line-offset) + var(--offset-y));
  background-image: var(--vertical), var(--horizontal);
}

.dragger {
  position: absolute;
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  padding: 0;
}

.dragger.up {
  bottom: 100%;
  width: 2em;
  border-radius: 8px 8px 0 0;
  padding: 1px 0 0 0;
}

.dragger.down {
  top: 100%;
  width: 2em;
  padding: 0 0 2px 0;
}

.dragger.left {
  right: 100%;
  border-radius: 8px 0 0 8px;
  height: 2em;
  padding: 0 2px 0 3px;
}

.dragger.right {
  left: 100%;
  border-radius: 0 8px 8px 0;
  height: 2em;
  padding: 0 3px 0 2px;
}
